
frameworks: net46
source https://api.nuget.org/v3/index.json

nuget NUnit
nuget WebSharper ~> 3.6
nuget Konscious.Security.Cryptography.Blake2
// nuget FAKE ~> 4.0

//   Not found, for some reason.
// nuget Data.HashFunction.Blake2  


